div {
  background-color: blueviolet;
  color: #fff;
  padding: 10px;
  margin: 6px;
  border-radius: 6px;

  display: flex;
  justify-content: space-between;

  button {
    background-color: #fff;
    color: blueviolet;
    font-size: 1.2rem;
    font-weight: bolder;
    width: 25px;
    border: none;
    border-radius: 6px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
