input,
button {
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 6px;
}

button {
  background-color: blueviolet;
  color: #fff;

  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}
