nav {
  background-color: blueviolet;

  ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;

    li {
      list-style: none;
      padding: 1rem;

      a {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        letter-spacing: 0.1rem;
        font-weight: 600;

        &:hover {
          color: #ccc;
        }
      }
    }
  }
}

.cntr {
  box-shadow: 0px 0px 10px 5px blueviolet;
  border-radius: 6px;

  display: flex;
  justify-content: center;

  padding: 2rem;
  margin: 50px auto;

  height: 300px;
  width: 600px;
}
