@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css");

nav {
  background-color: blueviolet;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;

  transition: left 0.3s;
  &.nav-open {
    left: 0;
  }

  .toggleNav {
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    top: 30px;
    right: 30px;
    transition: right 0.3s, transform 0.2s;

    i {
      font-size: 24px;
      color: #fff;
    }

    &:hover {
      transform: scale(1.2);
    }

    &.whenNavClosed {
      right: -40px;
    }
  }

  ul {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    li {
      list-style: none;
      transition: 0.3s ease-in;

      &.active {
        // background-color: rgb(159, 89, 224);
        background-color: #fff;
        a {
          color: blueviolet !important;
        }
      }

      a {
        padding: 1rem 2rem;
        width: 100%;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        letter-spacing: 0.1rem;
        font-weight: 600;

        &:hover {
          background-color: #ffffffb0;
          color: blueviolet;
        }
      }
    }
  }
}

.overlay {
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;

  .cntr {
    box-shadow: 0px 0px 10px 5px blueviolet;
    border-radius: 6px;

    display: flex;
    justify-content: center;

    padding: 2rem;
    margin: 0 auto;

    min-height: 300px;
    width: 600px;
    max-width: 80%;
  }
}
