<nav [ngClass]="{ 'nav-open': showNav }">
  <button
    class="toggleNav"
    [ngClass]="{ whenNavClosed: !showNav }"
    (click)="toggleNav()"
  >
    <i class="fas fa-bars"></i>
  </button>
  <ul>
    <li [routerLinkActive]="['active']">
      <a routerLink="/comp1" (click)="toggleNav()">comp1</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/comp2" (click)="toggleNav()">comp2</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/parentChild" (click)="toggleNav()">parent-child</a>
    </li>
  </ul>
</nav>

<div class="overlay">
  <div class="cntr">
    <router-outlet></router-outlet>
  </div>
</div>
