<nav [ngClass]="{ 'nav-open': showNav }">
  <button
    class="toggleNav"
    [ngClass]="{ whenNavClosed: !showNav }"
    (click)="toggleNav()"
  >
    <i class="fas fa-bars"></i>
  </button>
  <ul>
    <li [routerLinkActive]="['active']">
      <a class="nav-link" routerLink="/comp1">comp1</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a class="nav-link" routerLink="/comp2">comp2</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a class="nav-link" routerLink="/parentChild">parent-child</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/nestedRoutes']">nested-routes</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/templateForm']">template-form</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/reactiveForms']">reactive-form</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/filterPipes']">filter-pipes</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/http']">http</a>
    </li>
  </ul>
</nav>

<div class="overlay">
  <div class="cntr">
    <router-outlet></router-outlet>
  </div>
</div>
