<nav>
  <ul>
    <li [routerLinkActive]="['nActive']">
      <a
        [routerLink]="['./ruta1', 123, 'lazar']"
        [queryParams]="{ page: 1, search: 'helo world' }"
        [fragment]="'load'"
        >ruta1</a
      >
    </li>
    <li [routerLinkActive]="['nActive']">
      <a [routerLink]="['./ruta2']">ruta2</a>
    </li>
  </ul>
</nav>

<button (click)="login()">LogIn</button>
<button (click)="logout()">LogOut</button>

<div class="outlet">
  nested routes works!
  <p *ngIf="isUserLoggedIn()">User is logged In</p>
  <p *ngIf="!isUserLoggedIn()">User isn't logged In</p>
  <router-outlet></router-outlet>
</div>
